.Homepage{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*container*/
.containerHomepage {
    max-width: 1200px;
    margin: auto;
}

/* promotion*/
.promotion-box {
    display: flex; 
    align-items: center;
    background-color: #002b20; 
    margin-top: 60px;
    margin-bottom: 40px;
}

.promo-box1 img {
    display: block;
    width: 100%; 
}

.promo-box1 p {
    color: white;
    font-size: 16px;
    line-height: 1.5;

}

.promo-box2  {
    display: block;
    text-align: center; 
    margin: 20px;
}

.promo-box2  p{
    color: white; 
    font-size: 16px;
    line-height: 1.5;
}

.btn-promo1 {
    display: inline-block;
    background-color: white;
    color: #002b20;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s ease;
    margin-top: 14px;
}

.btn-promo1:hover {
    background-color: #f1c40f;
    color: rgb(0, 0, 0);
    transform: translateY(-3px);
}


.product{
    display: flex;
    align-items: center; 
}


.productdrink-box1 img{
    display: block;
    width : 100%;
}

.productdrink-box1 p{
    color: white;
    font-size: 16px;
    line-height: 1.5;
    padding: 15px;
    
}
 
.productdrink-box1{
    display: block;
    text-align: center;
    background-color: #002b20; 
    width: 580px;
    height: 560px;
    margin-right: 40px;
      
}

.btn-product1 {
    display: inline-block;
    background-color: white;
    color: #002b20;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s ease;
    margin: 20px;
}

.btn-product1:hover{
    background-color: #f1c40f;
    color: rgb(0, 0, 0);
    transform: translateY(-3px);
}


/* product2 */

.productdrink-box2 img{
    display: block;
    width : 100%;
}

.productdrink-box2 p{
    color: white;
    font-size: 16px;
    line-height: 1.5;
    padding: 15px;
    
}
 
.productdrink-box2{
    display: block;
    text-align: center;
    background-color: #002b20; 
    width: 580px;
    height: 560px;
    
}

.btn-product2 {
    display: inline-block;
    background-color: white;
    color: #002b20;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s ease;
    margin: 20px;
}

.btn-product2:hover{
    background-color: #f1c40f;
    color: rgb(0, 0, 0);
    transform: translateY(-3px);
}
