.menu-container {
    max-width: 1200px;
    height: 833px;
    margin: auto;

}

.menu-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    height: 50%;
    margin: auto;
    margin-top: 50px;
}

.image-container img {
    width: 250px;
    border-radius: 8px;
}

.menu-details {
    flex: 1;
    margin-left: 20px;
}

h2 {
    margin-bottom: 10px;
    color: #2c3e50;
}

.option-group {
    margin-bottom: 15px;
}

.radio-group {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.radio-label {
    display: flex;
    align-items: center;
    gap: 5px;
    background: #ecf0f1;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 80px;
    border: 1px solid #bdc3c7;
    border-radius: 6px;
    padding: 10px;
    font-size: 14px;
}

.add-to-cart {
    width: 100%;
    padding: 10px;
    background: #27ae60;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
    height: 50px;
    
}

.add-to-cart:hover {
    background: #219150;
}
